@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/Aleo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}